.nav-manual{
    background-color: #b558eb !important;
}

.navbar-nav li{
    margin-left: 20px;
}

.mission{
    background-color: #f2f2f2;
    margin: 20px 10px;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 2px rgb(201, 201, 201);
    display: inline-block;
    height: 160px;
    font-size: 14px;
    line-height: 25px;
}